.center {
	margin:auto;
}

#main-content {
	background-image:url('/assets/twilight-sky.jpg');
	background-size: cover;
	z-index:-10;
}

#main-content img.left-float {
	position: absolute;
	width:50%;
	bottom:0;
	right:0;
	z-index: 0;
}

#main-content img.right-float {
	position: absolute;
	width:50%;
	bottom:0;
	left:0;
	background:url() 0 40px;
	z-index: 0;
}

#hero-unit {
	margin-top: 2em;
	background-image:url('/assets/sprinkles.png');
	background-repeat:repeat;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 1em;

}
#nextTrack {
  position: relative;
  bottom:0px;
  margin-right: 0px;
}

#artist-info {
	margin-top:0;
}

#track {
	padding-right: 0px;
	padding-left: 0px;
}
